<phpunit bootstrap="./Bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Vigenère cipher Test Suite">
            <directory>./VCryptTest</directory>
            <exclude>./VCryptTest/_files/</exclude>
            <exclude>./VCryptTest/report/</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <!-- add more directories -->
            <directory suffix=".php">../library/VCrypt</directory>
            <exclude>
                <!-- add more directories with relative or absolute path -->
                <directory>./tests/</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <file>systemlib.phpreflection_hni</file>
            <directory suffix=".php">../vendor/</directory>
        </blacklist>
    </filter>

    <groups>
        <exclude>
            <group>disable</group>
            <group>integration</group>
            <group>integration-mysql</group>
            <group>integration-postgres</group>
        </exclude>
    </groups>

    <listeners>
    </listeners>

    <logging>
        <log type="coverage-html" target="../build/coverage" title="VCrypt"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
        <log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <ini name="date.timezone" value="UTC"/>

        <!-- Integration Test Variables -->

        <!--<var name="ZEND_DB_ADAPTER_DRIVER_SQLITE_MEMORY" value="true" />-->
    </php>

</phpunit>
